<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Thông báo</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:replace="~{partials/navbar :: navbar}"></header>

<main class="container">
    <h1>Thông báo</h1>
    <ul class="announcements">
        <li>Hệ thống đặt sân bóng mini đang thử nghiệm. Cảm ơn bạn đã ủng hộ!</li>
        <li>Giờ mở cửa: 17:00 - 24:00 hằng ngày.</li>
        <li>Ưu đãi CN hằng tuần tặng nước miễn phí. </li>
    </ul>
</main>

<footer class="footer">
    <div class="container">
        <p>© <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span> UTE Soccer.</p>
    </div>
    <noscript>Vui lòng bật JavaScript để trải nghiệm tốt nhất.</noscript>
    
</footer>
</body>
</html>


